.nuggets-menu {
    text-align: center;
    padding: 50px 0;
    background-color: hwb(42 0% 14%);

  }
  
  nav {
    background-color: hwb(42 0% 9%);
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;

  }

  
  
  
  .nuggets-menu h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 30px;
    text-transform: uppercase;
  }
  
  .nuggets-menu ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nuggets-menu li {
    flex-basis: 33.33%;
    margin-bottom: 30px;
  }
  
  .nuggets-menu img {
    max-width: 100%;
    height: auto;
  }
  
  .nuggets-menu h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  
  .nuggets-menu p {
    font-size: 18px;
    color: #666;
    margin: 0;
  }
  body {
    background-color: #f4c404;
  }
  